.nav {
  background-color: #f8f7f8;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(122, 122, 122, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #1b070b;
  position: relative;
}

@keyframes nofitificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: nofitificationAnimation 2s ease-in-out infinite;
}

.nav__ellipsis_dot {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 32px;
  top: -14px;
  background-color: tomato;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  transform: translateY(80px);
  opacity: 0;
  animation: appearBtnAnimation 0.5s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}
.nav__btn:last-child {
  animation-delay: 0.6s;
}
